.KBLWrapper {
    position: absolute;
    display: flex;
    right: 1.0417vw;
    top: 1.0417vw;
    width: auto;
    min-width: 7.8125vw;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    box-sizing: border-box;
    background: rgba(11, 11, 11, 0.95);
    border-radius: .2604vw;
    font-family: "Inter";
    overflow: hidden;
    white-space: nowrap;

    .Header {
        display: flex;
        width: 100%;
        height: 1.3021vw;
        justify-content: flex-start;
        align-items: center;
        background-color: #0B0B0B;
        border-bottom: .0521vw solid white;
        padding: 0 .4167vw;
    }

    .Title {
        font-weight: 700;
        font-size: .5208vw;
        line-height: .5208vw;
        color: white;
    }

    .Keybinds {
        display: flex;
        width: 100%;
        flex-direction: column;

        .Keybind {
            position: relative;
            display: flex;
            width: 100%;
            height: 1.3021vw;
            padding: 0 .4167vw;
            justify-content: space-between;
            align-items: center;

            &.Activated {
                background-color: rgba(var(--menu-color), 0.30);

                .BStatus {
                    color: rgb(var(--menu-color));
                }
            }

            .Label {
                max-width: 80%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-weight: 700;
                font-size: .5208vw;
                color: #FFFFFF;
                margin-top: .0521vw;
            }

            .Elements {
                position: relative;
                display: flex;
                right: -0.4vw;
                justify-content: flex-end;
                align-items: center;
                gap: .1042vw;

                span {
                    font-size: .5208vw;
                    font-weight: 700;
                }
            }
        }
    }
}